.date-format {
  color: #77529e;
  font-weight: 300;
  margin-top: -102px;
  text-align: right;
}

.time {
  font-size: 28pt;
  margin-bottom: -10px;
  position: relative;
  top: 1px;
}

.date {
  font-size: 14pt;
}

.last-update {
  opacity: 40%;
  font-size: 10pt;
  position: relative;
  top: -3px;
}
