.container-2 {
  background-color: rgb(165, 189, 253, 0.17);
  border-radius: 12px;
  font-weight: 300;
  padding: 7px;
  margin-top: 105px;
  text-align: center;
}

.current-lowest-temp,
.degree {
  color: #77529e;
  opacity: 50%;
}
