.form-control {
  border-radius: 12px;
  border: none;
  background-color: rgb(255, 255, 255);
  font-weight: 300;
}

.form-control:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.input-group-text {
  background-color: rgb(255, 255, 255);
  color: #77529e;
}

.on-location:hover {
  background-color: rgb(165, 189, 253, 0.01);
}
