form .form-control {
  border-radius: 12px;
  border: none;
  background-color: rgb(255, 255, 255);
  font-weight: 300;
}

form .form-control:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

form .input-group-text {
  background-color: rgb(255, 255, 255);
  color: #77529e;
}

form .on-location:hover {
  background-color: rgb(165, 189, 253, 0.01);
}

.Weather .cover {
  background-color: rgb(165, 189, 253, 0.17);
  border-radius: 12px;
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.Weather h1 {
  text-align: center;
}

.Weather .current-temperature {
  margin-top: -15px;
  font-size: 40pt;
  font-weight: 600;
  margin-bottom: 0px;
}

.Weather h2 {
  font-weight: 300;
  text-align: center;
  margin-top: -15px;
}

.Weather .illustration {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}

.Weather .units {
  font-size: 10px;
  margin-top: -100px;
  position: relative;
  top: -25px;
}

.Weather .mainIcon {
  display: block;
  width: 60px;
  height: 60px;
}

.Weather .description {
  font-size: 18pt;
  font-weight: 300;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 0;
}

.Weather .date-format {
  color: #77529e;
  font-weight: 300;
  margin-top: -102px;
  text-align: right;
}

.Weather .time {
  font-size: 28pt;
  margin-bottom: -10px;
  position: relative;
  top: 1px;
}

.Weather .date {
  font-size: 14pt;
}

.Weather .container-2 {
  background-color: rgb(165, 189, 253, 0.17);
  border-radius: 12px;
  font-weight: 300;
  padding: 7px;
  margin-top: 105px;
  text-align: center;
}

.current-lowest-temp,
.degree {
  color: #77529e;
  opacity: 50%;
}

.App .main-data {
  margin-top: 32px;
}

.Weather .container {
  background-color: rgb(255, 255, 255, 0.6);
  border-radius: 12px;
  box-shadow: 5px 5px 10px rgba(117, 117, 117, 0.2);
  display: block;
  margin: 0 auto;
  margin-top: 70px;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 700px;
}

.Weather .container-fluid {
  margin-top: 30px;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
}

.Weather .forecastIcon {
  width: 30px;
}

@media (max-width: 576px) {
  .Weather .container {
    margin-top: 0;
  }

  #weather-forecast {
    margin-bottom: 10px;
  }
}
